* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: "Livvic", "Arial", sans-serif; */
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.container {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0 20px;
}


/* header */


.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-top: 50px;
}
.header__box {
  width: 350px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.header__link {
  text-decoration: none;
  color: #83888f;
}
.header__link:hover{
  color: black;
}


/* .section-1 */


.mornings {
  background-image: url("../img/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 136px;
}
.mornings__box {
  width: 493px;
  padding-top: 117px;
  padding-bottom: 116px;
  padding-left: 85px;
}
.mornings__heading {
  font-family:
  font-style: normal;
  width: 493px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;

}
.mornings__text {
  font-family: 'Barlow';
  font-style: normal;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}
.mornings__button {
  widows: 217px;
  background-color: #0E8784;
  border-radius: 6px;
  padding: 15px 45px;
  text-align: center;
  margin-top: 26px;
}


/* section-2 */

.our-collection {
  background-image: url("../img/bg-img.svg");
  background-repeat: no-repeat;
  height: 196px;
  margin-left: 80px;
  padding-top: 100px;
  margin-bottom: 400px;
}
.our-collection__card {
  list-style: none;
  width: 1111px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* margin-top: 00px; */

}
.our-collection__list {

}
.our-collection__img {
width: 255px;
height: 193px;
}
.our-collection__heading {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;

}
.our-collection__content {
  font-family: 'Barlow';
  font-style: normal;
  width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}



/* section-3 */

.why-choose {
background-color: #2C343E;
}
.why-choose__box {
  position: relative;
  margin-bottom: 250px;

}
.why-choose__box-mini{

  max-width: 540px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 317px;
  /* padding-left: 317px; */


}
.why-choose__heading {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.why-choose__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.why-choose__unordered-list {
  position: absolute;
  top: 370px;
  list-style: none;
  width: 1110px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}
.why-choose__unordered-list-item {
  width: 350px;
  background-color: #0E8784;
  border-radius: 10px;
  transition: 0.5s;
}
.why-choose__unordered-list-item:hover {
  transform: scale(1.1);
}
.why-choose__unordered-list-img {
  margin-top: 72px;
  margin-bottom: 56px;

}
.why-choose__unordered-list-heading {
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
.why-choose__unordered-list-text {
  margin: 0;
  padding-bottom: 46px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}




/* section-4 */



.card {

}
.card__heading {
  width: 255px;
  padding-left: 80px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;

}
.card__works-line{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 82px;
  padding-left: 80px;
}
.card__img{
  widows: 31px;
  height: 31px;
  margin: 0;
  padding: 0;

}
.card__line {
  width: 310px;
  height: 2px;
  background-color: #fdd6ba;
}


.card__title {
  width: 1045px;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 80px;
  /* text-align: center; */
  justify-content: space-between;
}
.card__title-list {
  width: 285px;
}

.card__title-list-img {
  width: 98px;
  height: 72px;
  margin-right: 95px;
  margin-bottom: 38px;
}
.card__title-heding {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  width: 210px;
}
.card__title-text {
  width: 285px;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  
}
.card__button-1 {
  widows: 217px;
  background-color: #0E8784;;
  border: solid 1.5px #0E8784;;
  border-radius: 6px;
  padding: 15px 45px;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 200px;
  

}
.footer{
  background-color: #2C343E;
}




.footer__box{
  display: flex;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
  /* margin-bottom: 135px; */

}

.footer__img{
  padding-right: 102px;
}
.footer__link {
  text-decoration: none;
  color: #83888f;
  padding-right: 33px;
}
.footer__link:hover{
  color: black;
}

.footer__mini-box{
  padding-left: 350px;
  transition: 0.5s;
}

.footer__mini-box img:hover{
  transform: scale(1.2);
  background-color: coral;
}
.footer__icon{
  margin-right: 25px;
}




                                                        /* about section-1 */



.coffeeroasters {
  background-image: url("../img/milk-coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 168px;
}
.coffeeroasters__heading {
  padding: 0;
  margin: 0;
  padding-top: 137px;
  padding-left: 85px;
  margin-bottom: 24px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.coffeeroasters__text {
  width: 445px;
  padding: 0;
  margin: 0;
  padding-left: 85px;
  margin-bottom: 137px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}



                                        /* about section-2 */


.our-commitmen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /* width: 1110px; */
  padding-left: 165px;
  padding-right: 165px;
  margin-bottom: 256px;
}
.our-commitment__img {
  width: 445px;
  height: 520px;

}
.our-commitment__box {
  width: 540px;
  margin-left: 125px;
    

}
.our-commitment__heading {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}
.our-commitment__content {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/*  about section-3  */



.uncompromising {
  background-color: #2c343e;
  margin-bottom: 168px;
}
.uncompromising__box {
  display: flex;
  align-items: center;
  position: relative;
}
.uncompromising__mini-box {
  width: 540px;
  margin: 0;
  padding: 0;
  margin-left: 85px;
  margin-top: 100px;
  margin-right: 125px;
  margin-bottom: 176px;

}
.uncompromising__heading {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.uncompromising__content {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.uncompromising__img{
  width: 445px;
  height: 474px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  position: absolute;
  left: 750px;
  top: -80px;
}





/*   about section-4  */

.countries {
  width: 1045px;
  margin-left: 165px;
  margin-bottom: 168px;
}
.countries__heading {
  padding: 0;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 72px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;

}
.countries__item {
  list-style: none;
  display: flex;
  align-items: center;

}
.countries__item-list {
  margin-right: 95px;
}
.countries__img-icon {

}
.countries__heading-h3 {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;

}
.countries__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  widows: 130px;
  height: 120px;

}



/* about footer  */